<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
    <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar') %></aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
  <div id="clicki_widget_6001" title=""></div>
  <script type='text/javascript'>
  	(function() {
  	    var c = document.createElement('script'); 
  	    c.type = 'text/javascript';
  	    c.async = true;
  	    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/49383';
  	    var h = document.getElementsByTagName('script')[0];
  	    h.parentNode.insertBefore(c, h);
  	})();
  </script>
</body>
</html>