<script src="/js/jquery-2.0.3.min.js"></script>


<%- css('fancybox/jquery.fancybox') %>
<%- js('fancybox/jquery.fancybox.pack') %>

<%- js('js/script') %>

<script src="/js/navigation.js"></script>

<%- css('highlight/styles/github') %>
<%- js('highlight/highlight.pack') %>
<script>hljs.initHighlightingOnLoad();</script>

<div id="bg"></div>
