<script src="/js/jquery-2.0.3.min.js"></script>


<%- css('fancybox/jquery.fancybox') %>
<%- js('fancybox/jquery.fancybox.pack') %>

<%- js('js/script') %>

<script src="/js/navigation.js"></script>

<%- css('//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow.min.css') %>
<%- js('//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js') %>
<script>hljs.initHighlightingOnLoad();</script>

<div id="bg"></div>
