<article id="<%= post.layout %>-<%= post.slug %>" class="<%= post.layout %>-<%= post.slug %> post type-post status-publish format-standard hentry">
    <!--<%- partial('post/gallery') %>-->

      <header class="entry-header">
        <% if (post.link || post.title){ %>
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <% } %>
      </header><!-- .entry-header -->

    <div class="entry-content">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more" class="more-link"><%= theme.excerpt_link %> <span class="meta-nav">→</span></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div><!-- .entry-content -->
    <% if (!index){ %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- hzhou-default -->
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8072826058239598"
          data-ad-slot="1252832662"
          data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    <% } %>

    <footer class="entry-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
    </footer>
</article>

<% if (!index){ %>
    <%- partial('post/nav') %>
<% } %>

<%- partial('comment') %>
